agno==2.3.19
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
arcade==3.3.3
asttokens==3.0.1
attrs==25.4.0
backcall==0.2.0
banks==2.2.0
beautifulsoup4==4.14.3
bleach==6.3.0
box2d-py==2.3.5
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.1
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dirtyjson==1.0.8
distro==1.9.0
docopt==0.6.2
docstring_parser==0.17.0
eval_type_backport==0.3.1
executing==2.2.1
Farama-Notifications==0.0.4
fastapi==0.126.0
fastjsonschema==2.21.2
filelock==3.20.0
filetype==1.2.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.45.0
google-genai==1.56.0
googleapis-common-protos==1.72.0
greenlet==3.3.0
gridworld==0.1
griffe==1.15.0
groq==1.0.0
gymnasium==1.2.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==3.10
ImageIO==2.37.2
importlib_metadata==8.7.1
invoke==2.2.1
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
llama-cloud==0.1.45
llama-cloud-services==0.6.88
llama-index-core==0.14.10
llama-index-instrumentation==0.4.2
llama-index-workflows==2.11.6
llama-parse==0.6.88
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.7
matplotlib-inline==0.2.1
mcp==1.25.0
mdurl==0.1.2
minigrid==3.0.0
mistralai==1.10.0
mistune==3.1.4
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6
nltk==3.9.2
numpy==2.2.6
openai==2.14.0
opencv-python==4.12.0.88
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pickleshare==0.7.5
pillow==11.3.0
pipreqs==0.5.0
platformdirs==4.5.1
playwright==1.57.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybullet==3.2.7
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyee==13.0.0
pygame==2.6.1
pyglet==2.1.11
Pygments==2.19.2
PyJWT==2.10.1
pymunk==6.9.0
pyparsing==3.2.5
pypdf==6.5.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pytiled_parser==2.2.9
pytz==2025.2
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.3
rich==14.2.0
rpds-py==0.30.0
rsa==4.9.1
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
selenium==4.39.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.45
sse-starlette==3.0.4
stable_baselines3==2.7.0
stack-data==0.6.3
starlette==0.50.0
swig==4.4.0
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
torch==2.9.1
torchvision==0.24.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
typer==0.20.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
uvicorn==0.40.0
wcwidth==0.2.14
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
wrapt==2.0.1
wsproto==1.3.2
xai-grok==0.0.1
yarg==0.1.9
yarl==1.22.0
zipp==3.23.0
